@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-bg: #0d1b2a;
    --color-surface: #1b263b;
    --color-text: #e0e1dd;
    --color-text-muted: #778da9;
    --color-accent: #415a77;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Quicksand', sans-serif;
}